<html><head><title>UCLA CogGene References</title>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23633353-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
<style type="text/css"></style></head>

<body>

<img src="/static/image/cogGene75.jpg"></img>

<ul class="tab">
<li><a href="/"><span>Meta Analysis </span></a></li>
<li><a href="/methods"><span>Methods</span></a></li>
<li  class="activeTab"><a href="/references"><span>References</span></a></li>
<li><a href="/contact"><span>Contact</span></a></li>
</ul>


<table class="topCont">

<tbody>  
<tr>  
<td>
<div id="browserRecommend"></div>

<div>
<p>Below is the complete listing of research articles used in the CogGene project.</p>

<p><b>Reference list, alphabetical by first author</b></p>
<ul>
<li>Aguilera M, Barrantes-Vidal N, Arias B, Moya J, Villa H, Ib&aacute;&ntilde;ez MI, Ruiperez MA, Ortet G, Fa&ntilde;an&aacute;s L. Am J Med Genet B Neuropsych Genet. 2008 Sep 5;147B(6):898-902.
<li>Almeida OP, Schwab SG, Lautenschlager NT, Morar B, Greenop KR, Flicker L, Wildenauer D. J Cell Mol Med. 2008 Sep-Oct;12(5A):1672-6. Epub 2008 Jan 11.
<li>Apud JA, Mattay V, Chen J, Kolachana BS, Callicott JH, Rasetti R, Alce G, Iudicello JE, Akbar N, Egan MF, Goldberg TE, Weinberger DR. Neuropsychopharmacology. 2007 May;32(5):1011-20. Epub 2006 Oct 25.
<li>Bellander M, Brehmer Y, Westerberg H, Karlsson S, F&uuml;rth D, Bergman O, Eriksson E, B&auml;ckman L. Neuropsychologia. 2011 Jun;49(7):1938-42. Epub 2011 Mar 22.
<li>Bertolino A, Fazio L, Di Giorgio A, Blasi G, Romano R, Taurisano P, Caforio G, Sinibaldi L, Ursini G, Popolizio T, Tirotta E, Papp A, Dallapiccola B, Borrelli E, Sadee W. J Neurosci. 2009 Jan 28;29(4):1224-34.
<li>Callicott JH, Straub RE, Pezawas L, Egan MF, Mattay VS, Hariri AR, Verchinski BA, Meyer-Lindenberg A, Balkissoon R, Kolachana B, Goldberg TE, Weinberger DR. Proc Natl Acad Sci U S A. 2005 Jun 14;102(24):8627-32. Epub 2005 Jun 6.
<li>de Frias CM, Annerbrink K, Westberg L, Eriksson E, Adolfsson R, Nilsson LG. Behav Genet. 2004 Sep;34(5):533-9.
<li>de Frias CM, Bunce D, Wahlin A, Adolfsson R, Sleegers K, Cruts M, Van Broeckhoven C, Nilsson LG. J Gerontol B Psychol Sci Soc Sci. 2007 Mar;62(2):P112-8.
<li>Donohoe G, Walters J, Morris DW, Quinn EM, Judge R, Norton N, Giegling I, Hartmann AM, M&ouml;ller HJ, Muglia P, Williams H, Moskvina V, Peel R, O'Donoghue T, Owen MJ, O'Donovan MC, Gill M, Rujescu D, Corvin A. Arch Gen Psychiatry. 2009 Oct;66(10):1045-54.
<li>Egan MF, Kojima M, Callicott JH, Goldberg TE, Kolachana BS, Bertolino A, Zaitsev E, Gold B, Goldman D, Dean M, Lu B, Weinberger DR. Cell. 2003 Jan 24;112(2):257-69.
<li>Gao X, Xi G, Niu Y, Zhang S, Fu R, Zheng Z, Zhang K, Lv S, He H, Xue M, Zhang F. Neurosci Lett. 2008 Jun 20;438(2):163-7. Epub 2008 Apr 8.
<li>Gong P, Zhang F, Lei X, Wu X, Chen D, Zhang W, Zhang K, Zheng A, Gao X. Cell Mol Neurobiol. 2011 May;31(4):519-26. Epub 2011 Jan 15.
<li>Gosso FM, de Geus EJ, Polderman TJ, Boomsma DI, Posthuma D, Heutink P. BMC Med Genet. 2007 Nov 8;8:66.
<li>Gosso MF, de Geus EJ, van Belzen MJ, Polderman TJ, Heutink P, Boomsma DI, Posthuma D. Mol Psychiatry. 2006 Sep;11(9):878-86. Epub 2006 Jun 27.
<li>Gosso MF, van Belzen M, de Geus EJ, Polderman JC, Heutink P, Boomsma DI, Posthuma D. Genes Brain Behav. 2006 Nov;5(8):577-84.
<li>Greenwood PM, Lin MK, Sundararajan R, Fryxell KJ, Parasuraman R. Proc Natl Acad Sci U S A. 2009 Mar 3;106(9):3633-8. Epub 2009 Feb 11.
<li>Hamidovic A, Dlugos A, Skol A, Palmer AA, de Wit H. Exp Clin Psychopharmacol. 2009 Dec;17(6):374-83.
<li>Hariri AR, Goldberg TE, Mattay VS, Kolachana BS, Callicott JH, Egan MF, Weinberger DR. J Neurosci. 2003 Jul 30;23(17):6690-4.
<li>Harris SE, Fox H, Wright AF, Hayward C, Starr JM, Whalley LJ, Deary IJ. Mol Psychiatry. 2006 May;11(5):505-13.
<li>Harris SE, Wright AF, Hayward C, Starr JM, Whalley LJ, Deary IJ. Neurosci Lett. 2005 Sep 2;385(1):1-6.
<li>Hashimoto R, Noguchi H, Hori H, Ohi K, Yasuda Y, Takeda M, Kunugi H. Psychiatry Clin Neurosci. 2009 Aug;63(4):550-6. Epub 2009 May 22.
<li>Hashimoto R, Ohi K, Yasuda Y, Fukumoto M, Iwase M, Iike N, Azechi M, Ikezawa K, Takaya M, Takahashi H, Yamamori H, Okochi T, Tanimukai H, Tagami S, Morihara T, Okochi M, Tanaka T, Kudo T, Kazui H, Iwata N, Takeda M. Am J Med Genet B Neuropsychiatr Genet. 2010 Dec 5;153B(8):1459-64. doi: 10.1002/ajmg.b.31123. Epub 2010 Oct 18.
<li>Helkala EL, Koivisto K, H&auml;nninen T, Vanhanen M, Kervinen K, Kuusisto J, Mykk&auml;nen L, Kes&auml;niemi YA, Laakso M, Riekkinen P Sr. Neurosci Lett. 1995 May 26;191(3):141-4.
<li>Helkala EL, Koivisto K, H&auml;nninen T, Vanhanen M, Kervinen K, Kuusisto J, Mykkanen L, Kesaniemi YA, Laakso M, Riekkinen P Sr. Neurosci Lett. 1996 Feb 9;204(3):177-80.
<li>Ho BC, Milev P, O'Leary DS, Librant A, Andreasen NC, Wassink TH. Arch Gen Psychiatry. 2006 Jul;63(7):731-40.
<li>Jansen A, Krach S, Krug A, Markov V, Eggermann T, Zerres K, Thimm M, N&ouml;then MM, Treutlein J, Rietschel M, Kircher T. BMC Psychiatry. 2009 Sep 24;9:60.
<li>Jorm AF, Mather KA, Butterworth P, Anstey KJ, Christensen H, Easteal S. Neuropsychology. 2007 Jan;21(1):1-8.
<li>Kircher T, Krug A, Markov V, Whitney C, Krach S, Zerres K, Eggermann T, St&ouml;cker T, Shah NJ, Treutlein J, N&ouml;then MM, Becker T, Rietschel M. Hum Brain Mapp. 2009 Oct;30(10):3406-16.
<li>Kircher T, Markov V, Krug A, Eggermann T, Zerres K, N&ouml;ouml;then MM, Skowronek MH, Rietschel M. Psychol Med. 2009 Oct;39(10):1657-65. Epub 2009 Apr 1.
<li>K&ouml;lsch H, Wagner M, Bilkei-Gorz&oacute; A, Toliat MR, Pentzek M, Fuchs A, Kaduszkiewicz H, van den Bussche H, Riedel-Heller SG, Angermeyer MC, Weyerer S, Werle J, Bickel H, M&ouml;sch E, Wiese B, Daerr M, Jessen F, Maier W, Dichgans M. J Neural Transm. 2009 Jul;116(7):897-903. Epub 2009 May 26.
<li>Krug A, Markov V, Eggermann T, Krach S, Zerres K, St&ouml;cker T, Shah NJ, Schneider F, N&ouml;then MM, Treutlein J, Rietschel M, Kircher T. Neuroimage. 2008 Oct 1;42(4):1569-76. Epub 2008 Jun 12.
<li>Krug A, Markov V, Krach S, Jansen A, Zerres K, Eggermann T, St&ouml;cker T, Shah NJ, N&ouml;then MM, Georgi A, Strohmaier J, Rietschel M, Kircher T. Hum Brain Mapp. 2011 Jan;32(1):118-26.
<li>Krug A, Nieratschker V, Markov V, Krach S, Jansen A, Zerres K, Eggermann T, St&ouml;cker T, Shah NJ, Treutlein J, M&uuml;hleisen TW, Kircher T. Neuroimage. 2010 Jan 15;49(2):1831-6. Epub 2009 Sep 23.
<li>Malhotra AK, Kestler LJ, Mazzanti C, Bates JA, Goldberg T, Goldman D. Am J Psychiatry. 2002 Apr;159(4):652-4.
<li>Markov V, Krug A, Krach S, Jansen A, Eggermann T, Zerres K, St&ouml;cker T, Shah NJ, N&ouml;then MM, Treutlein J, Rietschel M, Kircher T. Hum Brain Mapp. 2010 Feb;31(2):266-75.
<li>Mondadori CR, de Quervain DJ, Buchmann A, Mustovic H, Wollmer MA, Schmidt CF, Boesiger P, Hock C, Nitsch RM, Papassotiropoulos A, Henke K. Cereb Cortex. 2007 Aug;17(8):1934-47. Epub 2006 Oct 31.
<li>Morar B, Dragovi? M, Waters FA, Chandler D, Kalaydjieva L, Jablensky A. Mol Psychiatry. 2010 Jun 15. [Epub ahead of print]
<li>M&ouml;ssner R, Schuhmacher A, Schulze-Rauschenbach S, K&uuml;hn KU, Rujescu D, Rietschel M, Zobel A, Franke P, W&ouml;lwer W, Gaebel W, H&auml;fner H, Wagner M, Maier W. Eur Neuropsychopharmacol. 2008 Oct;18(10):768-72. Epub 2008 Jul 9.
<li>Nacmias B, Bessi V, Bagnoli S, Tedde A, Cellini E, Piccini C, Sorbi S, Bracco L. Neurosci Lett. 2008 May 9;436(2):145-7. Epub 2008 Mar 7.
<li>Papassotiropoulos A, Henke K, Stefanova E, Aerni A, M&uuml;ller A, Demougin P, Vogler C, Sigmund JC, Gschwind L, Huynh KD, Coluccia D, Mondadori CR, H&auml;nggi J, Buchmann A, Kostic V, Novakovic I, van den Bussche H, Kaduszkiewicz H, Weyerer S, Bickel H, Riedel-Heller S, Pentzek M, Wiese B, Dichgans M, Wagner M, Jessen F, Maier W, de Quervain DJ. Mol Psychiatry. 2011 Feb;16(2):184-92. Epub 2009 Dec 29.
<li>Puttonen S, Elovainio M, Kivim&auml;ki M, Lehtim&auml;ki T, Keltikangas-J&auml;rvinen L. Neuropsychobiology. 2003;48(1):35-40.
<li>Reuter M, Montag C, Peters K, Kocher A, Kiefer M. Front Hum Neurosci. 2009;3:20. Epub 2009 Aug 24.
<li>Reuter M, Peters K, Schroeter K, Koebke W, Lenardon D, Bloch B, Hennig J. Behav Brain Res. 2005 Oct 14;164(1):93-9.
<li>Rodriguez-Jimenez R, Hoenicka J, Jimenez-Arriero MA, Ponce G, Bagney A, Aragues M, Palomo T. Neuropsychobiology. 2006;54(3):166-70. Epub 2007 Jan 17.
<li>Roiser JP, M&uuml;ller U, Clark L, Sahakian BJ. Int J Neuropsychopharmacol. 2007 Aug;10(4):449-61. Epub 2006 Aug 8.
<li>Roussos P, Giakoumaki SG, Bitsios P. Biol Psychiatry. 2009 Dec 1;66(11):997-1004. Epub 2009 Aug 22.
<li>Sanders AE, Wang C, Katz M, Derby CA, Barzilai N, Ozelius L, Lipton RB. JAMA. 2010 Jan 13;303(2):150-8.
<li>Schaper K, Kolsch H, Popp J, Wagner M, Jessen F. Neurobiol Aging. 2008 Jul;29(7):1123-5. Epub 2007 Mar 13.
<li>Schiepers OJ, van Boxtel MP, Harris SE, Gow AJ, Pattie A, Brett CE, de Groot RH, Jolles J, Starr JM, Deary IJ. Genes Brain Behav. 2011 Apr;10(3):354-64. doi: 10.1111/j.1601-183X.2010.00675.x. Epub 2011 Jan 24.
<li>Smith CE, Tucker KL, Scott TM, Van Rompay M, Mattei J, Lai CQ, Parnell LD, Junyent M, Lee YC, Garcia-Bailo B, Ordov&aacute;s JM. PLoS One. 2009;4(5):e5465. Epub 2009 May 8.
<li>Stefanis NC, van Os J, Avramopoulos D, Smyrnis N, Evdokimidis I, Stefanis CN. Am J Psychiatry. 2005 Sep;162(9):1752-4.
<li>Strange BA, Kroes MC, Roiser JP, Tan GC, Dolan RJ. J Neurosci. 2008 Jul 9;28(28):7036-9.
<li>Strobel A, Dreisbach G, M&uuml;ller J, Goschke T, Brocke B, Lesch KP. J Cogn Neurosci. 2007 Dec;19(12):1923-31.
<li>Takizawa R, Tochigi M, Kawakubo Y, Marumo K, Sasaki T, Fukuda M, Kasai K. PLoS One. 2009;4(5):e5495. Epub 2009 May 8.
<li>Thimm M, Kircher T, Kellermann T, Markov V, Krach S, Jansen A, Zerres K, Eggermann T, St&ouml;cker T, Shah NJ, N&ouml;then MM, Rietschel M, Witt SH, Mathiak K, Krug A. Psychol Med. 2011 Jul;41(7):1551-61. Epub 2010 Nov 16.
<li>Thomson PA, Harris SE, Starr JM, Whalley LJ, Porteous DJ, Deary IJ. Neurosci Lett. 2005 Nov 25;389(1):41-5.
<li>Tsai SJ, Hong CJ, Liu ME, Hou SJ, Yen FC, Hsieh CH, Liou YJ. Neurobiol Aging. 2010 Nov;31(11):1950-5. Epub 2008 Nov 17.
<li>Tsai SJ, Yu YW, Chen TJ, Chen JY, Liou YJ, Chen MC, Hong CJ. Neurosci Lett. 2003 Feb 27;338(2):123-6.
<li>Tsai SJ, Yu YW, Lin CH, Chen TJ, Chen SP, Hong CJ. Neuropsychobiology. 2002;45(3):128-30.
<li>Wagner M, Schuhmacher A, Schwab S, Zobel A, Maier W. Int J Neuropsychopharmacol. 2008 Dec;11(8):1163-7. Epub 2008 Jul 9.
<li>Yasuda Y, Hashimoto R, Ohi K, Fukumoto M, Takamura H, Iike N, Yoshida T, Hayashi N, Takahashi H, Yamamori H, Morihara T, Tagami S, Okochi M, Tanaka T, Kudo T, Kamino K, Ishii R, Iwase M, Kazui H, Takeda M. World J Biol Psychiatry. 2010 Oct;11(7):852-7.
<li>Zhang H, Kranzler HR, Poling J, Gelernter J. Neuropsychopharmacology. 2010 Oct;35(11):2211-24. Epub 2010 Jul 14.
<li>Zhang H, Kranzler HR, Poling J, Gruen JR, Gelernter J. Neuropsychopharmacology. 2009 Nov;34(12):2508-16. Epub 2009 Jul 15.

</ul>

<p><b>Reference list, by PMID</b></p>
<ul>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=7644133'>7644133</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=8938259'>8938259</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=11925305'>11925305</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=11979061'>11979061</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=12553913'>12553913</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=12566168'>12566168</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=12886039'>12886039</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=12890761'>12890761</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=15319576'>15319576</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=15939883'>15939883</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=15979789'>15979789</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=16026865'>16026865</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=16054297'>16054297</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=16135641'>16135641</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=16446742'>16446742</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=16801949'>16801949</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=16818862'>16818862</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=16893493'>16893493</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=17063156'>17063156</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=17077159'>17077159</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=17081262'>17081262</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=17201525'>17201525</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=17230034'>17230034</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=17353070'>17353070</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=17379671'>17379671</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=17892388'>17892388</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=17996044'>17996044</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=18194457'>18194457</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=18213617'>18213617</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=18378080'>18378080</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=18467032'>18467032</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=18606232'>18606232</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=18611292'>18611292</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=18614340'>18614340</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=18614671'>18614671</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=19013689'>19013689</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=19176830'>19176830</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=19211801'>19211801</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=19335929'>19335929</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=19350564'>19350564</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=19424489'>19424489</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=19424500'>19424500</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=19468819'>19468819</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=19496996'>19496996</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=19606085'>19606085</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=19650139'>19650139</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=19699472'>19699472</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=19738929'>19738929</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=19778423'>19778423</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=19781653'>19781653</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=19805695'>19805695</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=19968402'>19968402</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=20038948'>20038948</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=20068209'>20068209</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=20336655'>20336655</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=20509760'>20509760</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=20548296'>20548296</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=20631687'>20631687</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=20957649'>20957649</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=21078228'>21078228</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=21234799'>21234799</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=21255267'>21255267</a>
<li class='reference'><a href='http://www.ncbi.nlm.nih.gov/pubmed?term=21435346'>21435346</a>

</ul>
</div>
</td>  
</tr>  
</tbody>
</table>  
</body></html>

